<div class="home">
  <div class="col-md-10 col-md-offset-1 intro">
    <h1 style="font-family: Josefin Sans,sans-serif !important;">Get your skills tested</h2><br>
    <h2 style="font-family: Josefin Sans,sans-serif !important;">Attempt the tests and check where you are lagging!</h3><br>
    <h3 style="font-family: Josefin Sans,sans-serif !important;">Start writing the tests  <%= link_to "here",attempts_index_path,class:"link-white" %>.</h4>
  </div>
</div>