<div class="col-md-10 col-md-offset-1 home">
  <h2>Get your skills tested</h2><br>
  <h3>Attempt the tests and check where you are lagging!</h3><br>
  <h4>Start writing the tests  <%= link_to "here",attempts_index_path %>.</h4>
</div>