<h2 style="text-align: center;">Evaluations</h2>
<div class="container">
  <% @evaluations.each do |evaluation| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="well well-sm clearfix">
            <div style="text-align: center;" class="col-md-6">
              <%= evaluation.name.upcase %>
            </div>
            <div style="text-align: center;" class="col-md-6">
              <% if @user_attempted_evaluations[evaluation.id].nil? %>
                <%= link_to "Start" , evaluation_attempt_path(evaluation_id: evaluation.id), class: "btn btn-success btn-raised", data: { no_turbolink: true } %>
              <% else %>
                <% if @user_attempted_evaluations[evaluation.id] == true %>
                  <%= link_to "Continue" , evaluation_attempt_path(evaluation_id: evaluation.id), class: "btn btn-info btn-raised", data: { no_turbolink: true } %>
                <% else %>
                  <%= link_to "View Result" , attempt_result_path(attempt_id: evaluation.attempts.where(user_id: current_user.id).first.id), class: "btn btn-info btn-raised", data: { no_turbolink: true } %>                  
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end -%>
</div>